@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* All Primary clss */
.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  background-color: #fd6e0a;
  border: none;
  height: 64px;
  border-radius: 5px;
  padding: 18px 36px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
}

/* navbar style */
nav {
  display: flex;
  justify-content: space-between;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
  margin: 51px 0 0 226px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 230px 0 0;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-left: 51px;
  font-size: 20px;
}

header {
  background: url("../images/developer.png"), url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: left, bottom right;
  background-color: #fff8f3;
}

/* Banner Section style */
.banner {
  display: flex;
  margin: 0 200px;
  align-items: center;
  justify-content: space-between;
  margin-top: 47px;
}

.banner .banner-left {
}

.banner h3 {
  font-weight: 600;
  font-size: 45px;
  line-height: 61px;
  color: #474747;
}

.banner h1 {
  font-weight: 700;
  font-size: 85px;
  line-height: 116px;
  color: #181818;
}

.banner p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-top: 20px;
}

.banner img {
  margin-right: -170px;
}
